.form-wrapper {
    max-width: 600px;
    margin: auto;
    box-shadow: 0px 2px 15px rgba(0,0,0,.3);
    padding: 20px;
    margin-top: 50px;
    border-radius: 10px;
    background: #fff;
}

.App {
    background: #eee;
}

.btn {
    padding: 5px 30px !important;
    border-radius: 50px !important;
}

.sidebar {
    background: white;
    float: left;
    width: 300px;
    height: 100vh;
    border-right: 1px solid #ddd;
    position: fixed;
    top: 0;
}

.main-view {
    position: fixed;
    left: 300px;
    background: #fafafa;
    height: calc(100vh - 75px);
    width: calc(100% - 300px);
    overflow: hidden;
    overflow-y: scroll;
    padding-bottom: 10px;
}

ul.thread-list {
    list-style: none;
    padding: 0px;
}

ul.thread-list li a .zmdi {
    float: left;
    font-size: 48px;
    padding: 5px 15px;
    color: #ccc;
}

ul.thread-list li a {
    text-decoration: none;
    color: #444;
}

ul.thread-list li a h5 {
    font-size: 14px;
    padding: 10px;
    font-weight: 700;
    padding-bottom: 0px;
    margin-bottom: 0px;
} 

ul.thread-list li a p {
    font-size: 14px;
    color: #999;
}

ul.thread-list label {
    padding-left: 20px;
    font-size: 12px;
    color: #aaa;
    padding-top: 10px;
}

.input-view {
    position: fixed;
    left: 300px;
    width: calc(100% - 300px);
    bottom: 0px; 
    box-shadow: 0px -1px 5px rgba(0,0,0,.2);
}

.input-view .form-control {
    border: none;
    outline: none !important;
    box-shadow: none !important;
    background: transparent !important;
    border-radius: 0px;
    border-top: 1px solid #eee;
    font-size: 14px;
    padding: 10px;
    height: auto;
}

.search-container .input-group {
    margin: 20px;
    width: calc(100% - 40px);
    border-radius: 20px;
    background: #eee;
    overflow: hidden;
}

.search-container .input-group .form-control {
    background: transparent;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    padding-left: 20px;
    padding-top: 2px;
}

.search-container .input-group .btn.btn-search {
    background: transparent;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    transition: background .3s;
    padding: 5px 15px !important;
}

.message-item {
    padding: 10px;
}

.message-item.msg-right{
    text-align: right;
}

.message-item .zmdi.zmdi-account-circle {
    float: left;
    margin-top: 5px;
    font-size: 32px;
    color: #aaa;
    margin-left: 0px;
    margin-right: 5px;
}

.message-item.msg-right .zmdi.zmdi-account-circle {
    float: right;
}

.message-item .chat-bubble {
    max-width: 600px;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 5px;
    background: #ddd;
    margin: 0px 5px;
}

.message-item.msg-right .chat-bubble {
    background: #1d8ff1;
    color: #fff;
}